<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8">
<title>Mito - Restaurant - Thymeleaf</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="restaurant" />
<meta name="description" content="restaurant" />
<meta name="author" content="Jaime Medina">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />

</head>
<body>
	<header th:fragment="header">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#"
						th:href="@{/platos/listar}">MitoRest</a></li>

					<li class="nav-item dropdown">
					<!-- (such as those in 'sec:authorize') are restricted in WebFlux applications 
	due to a lack of support in the reactive side of Spring Security (as of Spring Security 5.1). 
	Only a minimal set of security expressions is allowed: 
	[isAuthenticated(), isFullyAuthenticated(), isAnonymous(), isRememberMe()] -->
					<a sec:authorize="isAuthenticated()" 
						class="nav-link dropdown-toggle"
						href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Mantenimiento </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" th:href="@{/clientes/listar}">Clientes</a>
							<a class="dropdown-item" href="#"
								th:href="@{/clientes/listar/datadriver}">Clientes Data-Driver</a> <a class="dropdown-item" href="#"
								th:href="@{/clientes/listar/full}">Clientes Full</a> <a class="dropdown-item" href="#"
								th:href="@{/clientes/listar/chunked}">Clientes Chunked</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" th:href="@{/platos/listar}">Platos</a>


						</div></li>


					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Facturación </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" th:href="@{/facturas/listar}">Generar</a>

							<div class="dropdown-divider"></div>

						</div></li>

					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Consultas </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#"
								th:href="@{/facturas/detalle/listar}">Facturas</a>

							<div class="dropdown-divider"></div>

						</div></li>


				</ul>


				<ul class="navbar-nav navbar-right">

					<li class="dropdown show"><a
						class="btn btn-outline-primary dropdown-toggle" href="#"
						role="button" id="dropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <span sec:authentication="name"></span>
					</a>

						<div class="dropdown-menu">
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
								<button class="dropdown-item"
									onclick="document.getElementById('logoutForm').submit();"
									type="submit">
									Cerrar <br> Sesion
								</button>
							</form>
						</div></li>
				</ul>
			</div>
		</nav>

		<div class="container text-center">
			<h1>Restaurant</h1>
		</div>

		<div class="container text-center">
			<h1>Mito - RestApp</h1>
		</div>
	</header>

	<div class="container"></dsiv>

	<footer th:fragment="footer" class="container">
		<p>
			Todos los derechos reservados</a>.&copy; MitoCode Network 2020.
		</p>


		<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>


</body>
</html>